
import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import org.junit.runner.RunWith;

@RunWith(Cucumber.class)
@CucumberOptions(
        features = {"target/parallel/features/[CUCABLE:FEATURE].feature"},
        plugin = {"json:target/cucumber-html-reports/[CUCABLE:RUNNER].json","pretty"},
        glue = {"com.riskiq.api.v2.stepdefinitions"}
)
public class [CUCABLE:RUNNER] {

}